.cart-modal {
    //position: absolute;
    position: fixed;
    right: 0;
    //top: 0;
    bottom: 0;

    a {
        font-size: 3em;
        cursor: pointer;
        color: $teal;
        margin-right: 15px;
        margin-bottom: 15px;
        transition: 0.5 ease-in-out;

        &:hover {
            color: $dark-teal;
        }
    }
}