.ReactModal__Content, .ReactModal__Content--after-open {
    height: 80%;
    //left: 50%;
    //margin-right: -50%;
}

.ReactModal__Overlay {
    opacity: 0;
    //left: 50%:
    transition: opacity 1000ms ease-in-out;
    z-index: 2;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}
